.head {
    width: 100%;
	/* min-width: 1200px; */
    height: 61px;
    /* background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.52) 0%, #FFFFFF 83%); */
    /* background-color: rgba(131, 184, 246); */
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
    /* backdrop-filter: blur(80px); */
    display: flex;
    padding-left: 50px;
    padding-right: 15px;
}
.header__menu:hover {
    border-bottom: 2px solid #ffffff;
    font-weight: 600;
    color: white;
}
.logoHead {
    margin: 20px 0;
    width: 222px;
}

.headText {
    line-height: 60px;
}

.headText li {
    margin: 0 40px;
}

.headText li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
}
.headText li a.lang {
    color: rgba(255, 255, 255, .9);
}

.loginImg {
    width: 96px;
    cursor: pointer;
}

.textT {
    font-size: 14px;
    color: rgba(116, 116, 116, 1);
}

.textLine {
    margin: 0 3px;
    color: rgba(255, 255, 255, .9);
}

.textCh {
    cursor: pointer;
}
.textCh {
    color: #fff;
    font-weight: 600;
}
.textEnglish {
    color: white;
}